= simple_form_for(@sponsor) do |f|
  = f.error_notification

  = f.input :name
  = f.input :address
  = f.input :email
  = f.input :web_page
  = f.input :logo_sponsor
  = f.input :description
  = f.input :outstanding
  = f.select :language, [ ['Español', 1], ['English', 2] ]

  .form-actions.pull-right
    = f.button :submit, 'Guardar Patrocinador'
    = link_to sponsores_path, class: 'btn btn-danger' do
      = icon 'times', 'Cancelar'
