%p#notice= notice

%h2 Detalle de Sponsor

%hr

.panel.panel-default
  .panel-heading
    %h3.panel-title Sponsor
  .panel-body
    .row
      .col-md-4
        %b Name
      .col-md-8
        = @sponsor.name
    %hr
    .row
      .col-md-4
        %b Address
      .col-md-8
        = @sponsor.address
    %hr
    .row
      .col-md-4
        %b Email
      .col-md-8
        = @sponsor.email
    %hr
    .row
      .col-md-4
        %b Web page
      .col-md-8
        = @sponsor.web_page
    %hr
    .row
      .col-md-4
        %b Description
      .col-md-8
        = @sponsor.description
    %hr
    .row
      .col-md-4
        %b Logo
      .col-md-8
        = @sponsor.logo_sponsor
    %hr
    .row
      .col-md-4
        %b Outstanding
      .col-md-8
        = @sponsor.outstanding

.pull-right
  = link_to edit_sponsor_path(@sponsor), class: 'btn btn-primary' do
    = icon 'pencil', 'Editar'

  = link_to sponsores_path, class: 'btn btn-default' do
    = icon 'arrow-left', 'Regresar a listado'
