%h2 Tipos de maguey

%hr

%table.table
  %thead
    %tr
      %th Nombre
      %th Acciones
  %tbody
    - @tipo_magueyes.each do |tipo_maguey|
      %tr
        %td= tipo_maguey.nombre
        %td
          .btn-group
            = link_to 'Mostrar', tipo_maguey, class: 'btn btn-sm btn-default'
            = link_to 'Editar', edit_tipo_maguey_path(tipo_maguey), class: 'btn btn-sm btn-primary'
            = link_to 'Eliminar', tipo_maguey, method: :delete, data: { confirm: '¿Estás seguro?'}, class: 'btn btn-sm btn-danger'

%br

.pull-right
  = link_to new_tipo_maguey_path, class: 'btn btn-primary btn-lg' do
    = icon 'plus', "Nuevo Tipo de maguey"
