= simple_form_for(@tipo_destilado) do |f|
  = f.error_notification

  = f.input :nombre

  .form-actions.pull-right
    = f.button :submit, 'Guardar Tipo de destilado'
    = link_to tipo_destilados_path, class: 'btn btn-danger' do
      = icon 'times', 'Cancelar'
